

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

/*caja buscador index*/
.buscador{
    background-image: url(../img/macarons-frutilla.jpg);
    margin: 50px 10px 50px 10px;
    background-position: center;
    text-align: center;
	padding-top: 20px
}

/*imagen fondo portada*/
#portada{
    background-image: url(../img/home.jpg);
    background-position: center;
    height: 700px;
    margin-bottom: 30px;
}
/*boton flotante whatsapp*/
.whatsapp {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
}
/*maps en contacto*/
#mapa{
    margin: 50px 1px 50px 1px;
}

/* Alinea los elementos del menú de navegación al centro */
.navbar-nav {
    margin: 0 auto;
    text-align: center;
}

/* Estilo de botón para los elementos del menú de navegación */
.navbar-nav .nav-item {
    display: inline-block;
    margin: 0 20px; /* Espacio entre los elementos del menú */
}

.navbar-nav .nav-link {
    padding: 8px 18px; /* Espacio interior del botón */
    background-color: #825bcc96; /* Color de fondo predeterminado */
    color: #fff; /* Color del texto */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: background-color 0.3s; /* Transición suave de color de fondo */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Cambia el color de fondo al pasar el cursor por encima */
.navbar-nav .nav-link:hover {
    background-color: #0056b3; /* Nuevo color de fondo al pasar el cursor */
    color: #fff; /* Color del texto al pasar el cursor */
}