.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5490196078) 0%,
      rgba(0, 0, 0, 0.5490196078) 100%
    ),
    url("../img/home/macarons.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.hero__container {
  max-width: 800px;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

/* head fin */

/* home section starts  */
.home {
  padding-top: 15rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
  margin-top: 5rem;
}

.home .content {
  flex: 1 1 45rem;
}

.home .content h1 {
  font-size: 4.5rem;
  padding-block-end: 1rem 0;
  color: var(--Very-Dark-Blue);
}

.home .content p {
  font-size: 1.7rem;
  padding: 1rem 0;
  max-width: 40rem;
  color: var(--Grayish-Blue);
  padding-bottom: 4rem;
}

.home .content .home-btn {
  padding: 1.3rem 2rem;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  box-shadow: 0.5rem 0.5rem hsl(231, 69%, 60%);
  border: 2px solid var(--Soft-Blue);
  border-radius: 0.5rem;
}

.home .content .home-btn:hover {
  background-color: var(--Soft-Blue);
  box-shadow: none;
  color: #fff;
}