* {
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-image: linear-gradient(to right bottom, #ffa07a, #00ced1);
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 1rem 5%;
  }
  
  footer {
    padding: 1rem 5%;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.8rem;
  }
  
  li {
    font-size: 1.6rem;
  }
  
  h5 {
    font-size: 1.5rem;
  }
  
  h6 {
    font-size: 1.5rem;
  }

  a{
    font-size: 1.6rem;
  }

  span {
    font-size: 1.6rem;
  }